<h1>New Element</h1>

<!--
  The request created by this form's submission will go to
  "/users/create" and the HTTP verb will be "post".
-->
<form action="/admin/create_element" method="post">
  <p>Name: <input type="text" name="name"></p>
  
  <p>Weight: <input type="text" name="weight"></p>
  
  <p>Comic: <input type="text" name="comic"></p>
  
    
 
    
    <input type="submit">
</form>