<h1>Success (with the update)!</h1>

<h3> 
  Element Name: <%= @element.name %>
<br>  
  Element Weight: <%= @element.weight %> 
<br>  
   <img src="<%= @element.comic %>" width = "400" height = "57  0">
</h3>

<a href="/admin/all_elements">Return to main list.</a>