<html>

<head>
<link rel="stylesheet" type="text/css" href="normalize.css">
<link rel="stylesheet" type="text/css" href="home.css">
<link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>

  
<body>
  <div id="container">
<img src="http://i.imgur.com/mpZbARF.png">



<form action="/startgame" method="get">
  <p>
    <h3>Player 1 
     
    <br>
    <input type="text" name= "p1" placeholder="your name here" >
  </p>
  
  <p>
    <h3>Player 2 
    <br>
    
    
    <input type="text" name= "p2" placeholder="your name here" >
  </p>
  
   <input type="submit" value ="Start Game">
</form>
<br>
<br>
<h2>A nerdy game by Nathaniel Ruiz</h2>
</body>

</div>
</html>