<head>
<link rel="stylesheet" type="text/css" href="home.css">
</head>

<div>
</div

<body>
<img src="http://i.imgur.com/mpZbARF.png">

<form action="/startgame" method="get">
  <p>
    <h3>Player 1 
    <br>
    Enter your name:</h3 
    <br>
    <input type="text" name= "p1" placeholder: "your name here" >
  </p>
  
  <p>
    <h3>Player 2 
    <br>
    Enter your name:</h3>
    
    <input type="text" name= "p2" >
  </p>
  <br>
   <input type="submit" value ="Start Game">
</form>
<br>
<br>
<!-- <img src="http://i.imgur.com/fur17s2.png?1">  -->
</body>